In [154]:
import pandas as pd
import numpy as np

In [155]:
df = pd.read_csv('ColorCluster.csv')
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.head()

,image_id,Color_3,R1,G1,B1,R2,G2,B2,cluster_C1,cluster_C2
0,1056.png,"[114.0, 80.0, 55.0]",226.0,165.0,89.0,228.0,211.0,191.0,0,2
1,1057.png,"[148.0, 114.0, 40.0]",182.0,150.0,68.0,206.0,177.0,97.0,0,0
2,106.png,"[129.0, 63.0, 130.0]",241.0,187.0,85.0,156.0,228.0,239.0,0,2
3,1070.png,"[209.0, 224.0, 98.0]",228.0,239.0,141.0,165.0,170.0,42.0,0,0
4,1075.png,"[235.0, 229.0, 219.0]",194.0,131.0,23.0,226.0,179.0,54.0,0,0

In [156]:
# KNN Model to identify 1st cluster
X = df.drop(['image_id', 'Color_3', 'R2', 'G2', 'B2', 'cluster_C1', 'cluster_C2'], axis=1)
y = df.cluster_C1

In [157]:
from sklearn.model_selection import train_test_split
## Split data into training and testing sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, test_size = 0.2, random_state = 42)

In [158]:
## Import the Classifier.
from sklearn.neighbors import KNeighborsClassifier
## Instantiate the model with 7 neighbors. 
knn_C1 = KNeighborsClassifier(n_neighbors=7)
## Fit the model on the training data.
knn_C1.fit(X_train, y_train)
## See how the model performs on the test data.
knn_C1.score(X_test, y_test)

0.9775280898876404

In [159]:
from sklearn.neighbors import NearestCentroid
clf = NearestCentroid()
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8629213483146068

In [160]:
# So we use the KNeighbours Classifier

In [161]:
# Now make a classifier for each cluster in Color-1

In [162]:
df_0 = df[df['cluster_C1']==0]
df_0.head()

,image_id,Color_3,R1,G1,B1,R2,G2,B2,cluster_C1,cluster_C2
0,1056.png,"[114.0, 80.0, 55.0]",226.0,165.0,89.0,228.0,211.0,191.0,0,2
1,1057.png,"[148.0, 114.0, 40.0]",182.0,150.0,68.0,206.0,177.0,97.0,0,0
2,106.png,"[129.0, 63.0, 130.0]",241.0,187.0,85.0,156.0,228.0,239.0,0,2
3,1070.png,"[209.0, 224.0, 98.0]",228.0,239.0,141.0,165.0,170.0,42.0,0,0
4,1075.png,"[235.0, 229.0, 219.0]",194.0,131.0,23.0,226.0,179.0,54.0,0,0

In [163]:
X = df_0.drop(['image_id', 'Color_3', 'R1', 'G1', 'B1', 'cluster_C1', 'cluster_C2'], axis=1)
y = df_0.cluster_C2

In [164]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.85, test_size = 0.15, random_state = 42)

knn_C20 = KNeighborsClassifier(n_neighbors=2)
knn_C20.fit(X_train, y_train)
knn_C20.score(X_test, y_test)

0.95

In [165]:
df_1 = df[df['cluster_C1']==1]
df_1.head()

,image_id,Color_3,R1,G1,B1,R2,G2,B2,cluster_C1,cluster_C2
128,1000.png,"[143.0, 160.0, 170.0]",130.0,121.0,114.0,182.0,194.0,201.0,1,2
129,1004.png,"[150.0, 155.0, 133.0]",119.0,118.0,94.0,198.0,193.0,190.0,1,3
130,1014.png,"[203.0, 187.0, 180.0]",131.0,109.0,103.0,46.0,36.0,32.0,1,4
131,1016.png,"[61.0, 31.0, 29.0]",115.0,81.0,75.0,197.0,175.0,167.0,1,2
132,1019.png,"[121.0, 144.0, 109.0]",45.0,94.0,47.0,206.0,218.0,192.0,1,3

In [166]:
X = df_1.drop(['image_id', 'Color_3', 'R1', 'G1', 'B1', 'cluster_C1', 'cluster_C2'], axis=1)
y = df_1.cluster_C2

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, test_size = 0.2, random_state = 42)

knn_C21 = KNeighborsClassifier(n_neighbors=2)
knn_C21.fit(X_train, y_train)
knn_C21.score(X_test, y_test)

0.9661016949152542

In [167]:
df_2 = df[df['cluster_C1']==2]
df_2.head()

,image_id,Color_3,R1,G1,B1,R2,G2,B2,cluster_C1,cluster_C2
421,1.png,"[221.0, 224.0, 215.0]",183.0,193.0,174.0,134.0,148.0,118.0,2,0
422,100.png,"[191.0, 153.0, 68.0]",238.0,231.0,218.0,119.0,83.0,37.0,2,4
423,1001.png,"[249.0, 243.0, 233.0]",220.0,209.0,195.0,189.0,149.0,121.0,2,0
424,1002.png,"[114.0, 93.0, 79.0]",223.0,221.0,216.0,22.0,19.0,15.0,2,1
425,1003.png,"[232.0, 227.0, 222.0]",223.0,180.0,168.0,170.0,120.0,107.0,2,0

In [168]:
X = df_2.drop(['image_id', 'Color_3', 'R1', 'G1', 'B1', 'cluster_C1', 'cluster_C2'], axis=1)
y = df_2.cluster_C2

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, test_size = 0.2, random_state = 42)

knn_C22 = KNeighborsClassifier(n_neighbors=2)
knn_C22.fit(X_train, y_train)
knn_C22.score(X_test, y_test)

0.9826589595375722

In [169]:
df_3 = df[df['cluster_C1']==3]
df_3.head()

,image_id,Color_3,R1,G1,B1,R2,G2,B2,cluster_C1,cluster_C2
1282,1018.png,"[230.0, 211.0, 200.0]",199.0,146.0,135.0,136.0,84.0,75.0,3,0
1283,1063.png,"[126.0, 91.0, 79.0]",182.0,151.0,137.0,224.0,201.0,187.0,3,1
1284,1074.png,"[129.0, 34.0, 16.0]",216.0,154.0,112.0,189.0,31.0,17.0,3,0
1285,1077.png,"[123.0, 90.0, 66.0]",198.0,165.0,128.0,36.0,25.0,17.0,3,2
1286,1081.png,"[35.0, 22.0, 28.0]",196.0,181.0,132.0,115.0,121.0,97.0,3,0

In [170]:
X = df_3.drop(['image_id', 'Color_3', 'R1', 'G1', 'B1', 'cluster_C1', 'cluster_C2'], axis=1)
y = df_3.cluster_C2

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, test_size = 0.2, random_state = 42)

knn_C23 = KNeighborsClassifier(n_neighbors=3)
knn_C23.fit(X_train, y_train)
knn_C23.score(X_test, y_test)

1.0

In [171]:
df_4 = df[df['cluster_C1']==4]
df_4.head()

,image_id,Color_3,R1,G1,B1,R2,G2,B2,cluster_C1,cluster_C2
1397,10.png,"[172.0, 108.0, 98.0]",116.0,23.0,26.0,229.0,205.0,192.0,4,3
1398,1007.png,"[211.0, 210.0, 206.0]",26.0,26.0,26.0,127.0,120.0,115.0,4,4
1399,1009.png,"[95.0, 23.0, 38.0]",54.0,6.0,15.0,225.0,217.0,214.0,4,3
1400,1012.png,"[89.0, 86.0, 84.0]",27.0,25.0,25.0,200.0,197.0,192.0,4,3
1401,1013.png,"[165.0, 142.0, 120.0]",67.0,62.0,42.0,229.0,214.0,197.0,4,3

In [172]:
X = df_4.drop(['image_id', 'Color_3', 'R1', 'G1', 'B1', 'cluster_C1', 'cluster_C2'], axis=1)
y = df_4.cluster_C2

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, test_size = 0.2, random_state = 42)

knn_C24 = KNeighborsClassifier(n_neighbors=5)
knn_C24.fit(X_train, y_train)
knn_C24.score(X_test, y_test)

0.9787234042553191

In [173]:
df_5 = df[df['cluster_C1']==5]
df_5.head()

,image_id,Color_3,R1,G1,B1,R2,G2,B2,cluster_C1,cluster_C2
2102,1011.png,"[216.0, 125.0, 133.0]",188.0,66.0,77.0,238.0,184.0,188.0,5,2
2103,1015.png,"[80.0, 74.0, 65.0]",165.0,109.0,50.0,186.0,176.0,160.0,5,2
2104,1062.png,"[93.0, 17.0, 28.0]",134.0,27.0,48.0,219.0,160.0,126.0,5,0
2105,1067.png,"[237.0, 122.0, 99.0]",192.0,80.0,65.0,240.0,217.0,208.0,5,2
2106,1069.png,"[205.0, 182.0, 144.0]",157.0,103.0,46.0,38.0,36.0,51.0,5,1

In [174]:
X = df_5.drop(['image_id', 'Color_3', 'R1', 'G1', 'B1', 'cluster_C1', 'cluster_C2'], axis=1)
y = df_5.cluster_C2

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, test_size = 0.2, random_state = 42)

knn_C25 = KNeighborsClassifier(n_neighbors=5)
knn_C25.fit(X_train, y_train)
knn_C25.score(X_test, y_test)

1.0

In [187]:
import joblib
filename = 'color1_model.sav'
joblib.dump(knn_C1, filename)
filename = 'color20_model.sav'
joblib.dump(knn_C20, filename)
filename = 'color21_model.sav'
joblib.dump(knn_C21, filename)
filename = 'color22_model.sav'
joblib.dump(knn_C22, filename)
filename = 'color23_model.sav'
joblib.dump(knn_C23, filename)
filename = 'color24_model.sav'
joblib.dump(knn_C24, filename)
filename = 'color25_model.sav'
joblib.dump(knn_C25, filename)

['color25_model.sav']

In [188]:
# # load the model from disk
# loaded_model = joblib.load(filename)
# result = loaded_model.predict([[r,g,b]])
# print(result)